<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.finance.my.repository.mapper.TransferMapper">

  <resultMap id="TransferMap" type="ru.finance.my.entity.Transfer">
    <result column="id" property="id"/>
    <result column="sum" property="sum"/>
    <result column="date" property="date"/>
    <association
        property="toAccount"
        resultMap="ru.finance.my.repository.mapper.AccountMapper.AccountMap"
        columnPrefix="ta_"
    />
    <association
        property="fromAccount"
        resultMap="ru.finance.my.repository.mapper.AccountMapper.AccountMap"
        columnPrefix="fa_"
    />
  </resultMap>

  <select id="getAll" resultMap="TransferMap">
    <![CDATA[
    SELECT
    t.id,
    t.sum,
    t.from_account_id AS fa_id,
    t.to_account_id AS ta_id,
    t.date,
    ta.name AS ta_name,
    ta.sum AS ta_sum,
    ta.user_id AS ta_user_id,
    fa.name AS fa_name,
    fa.sum AS fa_sum,
    fa.user_id AS fa_user_id
    FROM transfer t
    LEFT JOIN account fa ON fa.id = t.from_account_id
    LEFT JOIN account ta ON ta.id = t.to_account_id
    WHERE t.date <= #{beforeDate}
    AND t.date >= #{afterDate}
    AND (fa.user_id = #{userId} OR ta.user_id = #{userId})
    ]]>
  </select>

  <select id="getById" resultMap="TransferMap">
    SELECT
    t.id,
    t.sum,
    t.from_account_id AS fa_id,
    t.to_account_id AS ta_id,
    t.date,
    ta.name AS ta_name,
    ta.sum AS ta_sum,
    ta.user_id AS ta_user_id,
    fa.name AS fa_name,
    fa.sum AS fa_sum,
    fa.user_id AS fa_user_id
    FROM transfer t
    LEFT JOIN account fa ON fa.id = t.from_account_id
    LEFT JOIN account ta ON ta.id = t.to_account_id
    WHERE t.id=#{transferId}
  </select>

  <insert id="createNew" parameterType="ru.finance.my.entity.Transfer">
    <selectKey order="BEFORE" keyProperty="id" resultType="Long">
      SELECT nextval('transfer_seq');
    </selectKey>
    INSERT INTO transfer(id, sum, from_account_id, to_account_id, date)
    VALUES(#{id}, #{sum},  #{fromAccount.id}, #{toAccount.id}, #{date})
  </insert>

  <delete id="deleteById">
    DELETE FROM transfer
    WHERE id=#{transferId}
  </delete>

  <update id="update" parameterType="ru.finance.my.entity.Transfer">
    UPDATE transfer SET
    sum=#{sum},
    from_account_id=#{fromAccount.id},
    to_account_id=#{toAccount.id},
    date=#{date}
    WHERE id=#{id}
  </update>

  <update id="clearFromAccountId">
    UPDATE transfer SET
    from_account_id=NULL
    WHERE from_account_id=#{account.id}
  </update>

  <update id="clearToAccountId">
    UPDATE transfer SET
    to_account_id=NULL
    WHERE to_account_id=#{account.id}
  </update>

  <delete id="deleteByUserId">
    DELETE FROM transfer
    USING account
    WHERE account.user_id = #{userId}
    AND (transfer.from_account_id = account.id OR transfer.to_account_id = account.id)
  </delete>

  <delete id="deleteEmptyTransfers">
    DELETE FROM transfer
    WHERE to_account_id=NULL
    AND from_account_id=NULL
  </delete>
</mapper>